.full-card {
	max-width: 1000px;
	max-height: 1000px;
	background: rgba(141, 141, 141, 0.658);
	border-radius: 30px;
}

.certify {
	display: flex;
}

.my-picture {
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
}

#contact-block {
	margin: 0 auto;
	text-align: center;
}

.contact {
	display: flex;
	justify-content: space-around;
	list-style: none;
	width: 0 auto;
	margin-right: 70px;
}

.contact-info {
	font-size: 30px;
}
