.full-card {
	max-width: 1000px;
	max-height: 1000px;
	background: rgba(141, 141, 141, 0.658);
	border-radius: 30px;
	margin-top: 40px;
}

.my-picture {
	border-top-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
