body {
	background: #fff;
	overflow: hidden;
	margin: 0;
	padding: 0;
	animation: scroll 70s linear infinite;
	background: url('https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80'),
		#111111;
	color: #eee;
	height: 100vh;
	width: 100%;
}

.videos {
	display: flex;
	justify-content: space-around;
}

.projects {
	display: flex;
	width: 320px;
	margin: 0 auto;
}

.slideshow {
	margin-left: 100px;
}

.description {
	max-width: 400px;
	max-height: 500px;
	/* border: 1px solid black; */
	margin-top: -80px;
}

.hypegames {
	/* border: 1px solid black; */
	margin-top: -50px;
}

.chatapp {
	/* border: 1px solid black; */
	margin-top: -50px;
}

.header {
	text-align: center;
	margin-right: 100px;
}
